# Data Cleaning and pre-processing

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv("marvel_characters_dataset.csv")
print(df)

       Unnamed: 0                        PageID             Name  \
0               0          A_Friend_(Earth-616)         A Friend
1               1       A_Friend_(Earth-TRN743)         A Friend
2               2        A_La_Mode_(Earth-9047)        A La Mode
3               3              A'di_(Earth-616)             A'di
4               4           A'ishah_(Earth-616)          A'ishah
...           ...                           ...              ...
92610       92610  Rebecca_Hoover_(Earth-17372)   Rebecca Hoover
92611       92611   Rebecca_Houston_(Earth-616)  Rebecca Houston
92612       92612    Rebecca_Kaplan_(Earth-616)   Rebecca Kaplan
92613       92613  Reed_Richards_(Earth-TRN829)    Reed Richards
92614       92614     Rhonda_Rubens_(Earth-616)    Rhonda Rubens

           Universe                                                URL  \
0         Earth-616  https://marvel.fandom.com/wiki/A_Friend_(Earth...
1      Earth-TRN743  https://marvel.fandom.com/wiki/A_Friend_(Earth...
2        Earth-9047  https://marvel.fandom.com/wiki/A_La_Mode_(Eart...
3         Earth-616  https://marvel.fandom.com/wiki/A%27di_(Earth-616)
4         Earth-616  https://marvel.fandom.com/wiki/A%27ishah_(Eart...
...             ...                                                ...
92610   Earth-17372  https://marvel.fandom.com/wiki/Rebecca_Hoover_...
92611     Earth-616  https://marvel.fandom.com/wiki/Rebecca_Houston...
92612     Earth-616  https://marvel.fandom.com/wiki/Rebecca_Kaplan_...
92613  Earth-TRN829  https://marvel.fandom.com/wiki/Reed_Richards_(...
92614     Earth-616  https://marvel.fandom.com/wiki/Rhonda_Rubens_(...

      Identity  Gender  Alive Marital Status                       Teams  \
0       Public    Male  Alive         Single                         NaN
1       Public    Male  Alive         Single                         NaN
2       Secret     NaN  Alive         Single                Lunch Legion
3       Public  Female  Alive         Single  Alpha Cadets; Alpha Flight
4       Secret  Female  Alive         Single           Church of Lucifer
...        ...     ...    ...            ...                         ...
92610   Secret  Female   Dead         Single               Hellfire Club
92611   Public  Female  Alive            NaN          United States Navy
92612   Public  Female  Alive        Married                         NaN
92613   Public    Male  Alive        Married              Fantastic Four
92614   Secret  Female  Alive            NaN                         NaN

       Height (m)  Weight (kg)                                        Origin  \
0             NaN          NaN                                         Demon
1             NaN          NaN                                           NaN
2             NaN          NaN                              Living ice cream
3             NaN          NaN                                         Human
4             NaN          NaN                                         Human
...           ...          ...                                           ...
92610         NaN          NaN                                        Mutant
92611         NaN          NaN                                         Human
92612         NaN          NaN                                         Human
92613         NaN          NaN  Human mutates due to exposure to Cosmic Rays
92614         NaN          NaN                                         Human

                              Creators
0            Jim Mooney; Tony Isabella
1             Al Ewing; Salvador Espin
2              Keith Wilson; Rob Tokar
3      Margaret Stohl; Michele Bandini
4                         Warren Ellis
...                                ...
92610                         Matt Nix
92611            Mark Waid; Ron Garney
92612    Allan Heinberg; Andrea DiVito
92613      John Harkness; Rich Buckler
92614        Felipe Smith; Tradd Moore

[92615 rows x 14 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92615 entries, 0 to 92614
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      92615 non-null  int64
 1   PageID          92615 non-null  object
 2   Name            92615 non-null  object
 3   Universe        92609 non-null  object
 4   URL             92615 non-null  object
 5   Identity        72740 non-null  object
 6   Gender          89389 non-null  object
 7   Alive           92614 non-null  object
 8   Marital Status  38101 non-null  object
 9   Teams           49808 non-null  object
 10  Height (m)      5317 non-null   float64
 11  Weight (kg)     4873 non-null   float64
 12  Origin          78141 non-null  object
 13  Creators        90565 non-null  object
dtypes: float64(2), int64(1), object(11)
memory usage: 9.9+ MB

In [9]:
print(df.isnull().sum())

Unnamed: 0            0
PageID                0
Name                  0
Universe              6
URL                   0
Identity          19875
Gender             3226
Alive                 1
Marital Status    54514
Teams             42807
Height (m)        87298
Weight (kg)       87742
Origin            14474
Creators           2050
dtype: int64

In [10]:
print(df.describe())

         Unnamed: 0   Height (m)  Weight (kg)
count  92615.000000  5317.000000  4873.000000
mean   46307.000000     3.548533   105.851053
std    26735.791928    28.102151    92.606689
min        0.000000     1.020000     0.000000
25%    23153.500000     1.730000    63.500000
50%    46307.000000     1.800000    81.650000
75%    69460.500000     1.880000   104.330000
max    92614.000000   804.670000   962.980000